<div class="container" style="margin-top: 70px;">

    <div class="row">
  
      <div class="col-sm-8 offset-sm-2">
  
        <div>
          <form  [formGroup]="register" (ngSubmit)="createContact()" >
            <div class="form-group">  
              <label for="id">ID</label>
              <input type="text" formControlName="id" name="id" class="form-control" required min-length="4" id="id" aria-describedby="idHelp" placeholder="Enter ID" required >
              
              <small id="idHelp" class="form-text text-muted">Enter your contact’s ID</small>
  
              <label for="name">Contact Name</label>
              <input type="text" formControlName="name" name="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter your name" required >
              <div *ngIf="register.get('name').hasError('required')" class='alert alert-danger'></div>
            
             
    
              
              <small id="nameHelp" class="form-text text-muted">Enter your contact’s name</small>
  
              <label for="email">Contact Email</label>
              <input type="text" formControlName="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Enter your email" required>
              <small id="nameHelp" class="form-text text-muted">Enter your contact’s email</small>

              
              <label for="description">Contact Description</label>
              <textarea formControlName="description" name="description" class="form-control" id="description" aria-describedby="descHelp" required>
                        </textarea>
              <small id="descHelp" class="form-text text-muted">Enter your contact’s description</small>
  
            </div>
            <button class="btn btn-primary" type="submit" >Create contact</button>
            
          </form>        
        </div>
      </div>
    </div>
  </div>
  